@mixin google-link {
    text-decoration: none;
    opacity: .75;
    font-size: 13px;
    display: inline;
    color: black;
    &:visited {
        color: black;
    }
    &:not(:last-of-type) {
        margin-right: 12px;
    }
    &:hover {
        span {
            cursor: pointer;
            text-decoration: underline;
        }
        img {
            cursor: pointer;
            filter: brightness(50%);
        }
    }
}

html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

html, body {
    height: 100%;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}

header {

    .navbar nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        ul {
            margin-top: 10px;
            &:last-of-type {
                display: flex;
                align-items: center;
            }
            li {
                line-height: 30px;
                &:nth-of-type(3) {
                    height: 21px;
                }
                a {
                    @include google-link;
                }
            }
        }
    }

    // padding: 23px;
    // overflow: hidden;
    // line-height: 30px;
    // position: relative;
    // vertical-align: middle;

    .sign-in {
        background-color: #1e40ff;
        color: white;
        border: none;
        border-radius: 2px;
        padding: 9px 15px;
        font-weight: bold;
        margin-right: 30px;
    }

    // .google-apps {
    //     position: relative;
    //     display: inline-block;
    // }

    // &-right {
        
    // }

}

main {
    
}

footer {
    position: absolute;
    width: 100vw;
    height: 40px;
    border-top: 2px solid gray;
    bottom: 0;
    // padding: 23px;
    background-color: #F2F2F2;
    height: 40px;
    overflow: hidden;
    max-width: 100%;
    a {
        @include google-link;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}